*log
# Vagrant stu`````ff
acceptance_config.yml
boxes/*
/.vagrant
/website/.vagrant
/website/build
/vagrant-spec.config.rb
test/vagrant-spec/.vagrant/
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/machines/*
manager_token
ubuntu-xenial-16.04-cloudimg-console.log
worker_token
.vagrant/machines/manager01/virtualbox/action_provision
.vagrant/machines/manager01/virtualbox/action_set_name
.vagrant/machines/manager01/virtualbox/id
.vagrant/machines/manager01/virtualbox/index_uuid
.vagrant/machines/manager01/virtualbox/private_key
.vagrant/machines/manager02/virtualbox/action_provision
.vagrant/machines/manager02/virtualbox/action_set_name
.vagrant/machines/manager02/virtualbox/box_meta
.vagrant/machines/manager02/virtualbox/id
.vagrant/machines/manager02/virtualbox/index_uuid
.vagrant/machines/manager02/virtualbox/private_key
.vagrant/machines/manager02/virtualbox/synced_folders
.vagrant/machines/worker01/virtualbox/action_provision
.vagrant/machines/worker01/virtualbox/action_set_name
.vagrant/machines/worker01/virtualbox/box_meta
.vagrant/machines/worker01/virtualbox/creator_uid
.vagrant/machines/worker01/virtualbox/id
.vagrant/machines/worker01/virtualbox/index_uuid
.vagrant/machines/worker01/virtualbox/private_key
.vagrant/machines/worker01/virtualbox/synced_folders
.vagrant/machines/worker01/virtualbox/vagrant_cwd
.vagrant/machines/worker02/virtualbox/action_provision
.vagrant/machines/worker02/virtualbox/action_set_name
.vagrant/machines/worker02/virtualbox/box_meta
.vagrant/machines/worker02/virtualbox/creator_uid
.vagrant/machines/worker02/virtualbox/id
.vagrant/machines/worker02/virtualbox/index_uuid
.vagrant/machines/worker02/virtualbox/private_key
.vagrant/machines/worker02/virtualbox/synced_folders
.vagrant/machines/worker02/virtualbox/vagrant_cwd
ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/machines/manager01/virtualbox/action_provision
.vagrant/machines/manager01/virtualbox/action_set_name
.vagrant/machines/manager01/virtualbox/id
.vagrant/machines/manager01/virtualbox/index_uuid
.vagrant/machines/manager01/virtualbox/private_key
.vagrant/machines/manager02/virtualbox/action_provision
.vagrant/machines/manager02/virtualbox/action_set_name
.vagrant/machines/manager02/virtualbox/id
.vagrant/machines/manager02/virtualbox/index_uuid
.vagrant/machines/manager02/virtualbox/private_key
.vagrant/machines/worker01/virtualbox/action_provision
.vagrant/machines/worker01/virtualbox/action_set_name
.vagrant/machines/worker01/virtualbox/id
.vagrant/machines/worker01/virtualbox/index_uuid
.vagrant/machines/worker01/virtualbox/private_key
.vagrant/machines/worker02/virtualbox/action_provision
.vagrant/machines/worker02/virtualbox/action_set_name
.vagrant/machines/worker02/virtualbox/id
.vagrant/machines/worker02/virtualbox/index_uuid
.vagrant/machines/worker02/virtualbox/private_key
